@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.home-link {
  @apply mb-10
}

.home-link:hover .home-read {
  @apply underline
}

.home-link:hover .home-icon {
  @apply border-[#a4a5a7]
}

.home-link:hover .fill-eye  {
  stroke: rgb(246, 87, 87);
}

.markdown-pre {
  @apply my-6;
  @apply p-4;
  @apply bg-[#012b36];
  @apply rounded-xl;
  @apply w-full;
  @apply overflow-auto;
  @apply text-white;
}

.markdown-p {
  @apply my-4
}

.markdown-p > code, li > code {
  @apply bg-[#eff1f2];
  @apply rounded-[6px];
  @apply px-2;
  @apply py-1
}

.markdown-li {
  @apply my-4;
}